<!-- Full Width Image Header -->
<header class="header-image">
  <div class="headline">
    <div class="container">
      <h1>QuizHub</h1>
      <h2>Take Test & Grow Ur Skills!</h2>
    </div>
  </div>
</header>

<!-- Page Content -->
<div class="container">

  <hr class="featurette-divider">

  <!-- First Featurette -->
  <div class="featurette" id="about">
    <img class="featurette-image img-circle img-responsive pull-right" src="../vendors/images/home-1.jpg">
    <h2 class="featurette-heading">Take MCQ Quizzes
      <span class="text-muted">of different areas.</span>
    </h2>
    <p class="lead font-change">The purpose of a multiple choice item is to measure candidate ability with regard to a specific content area. A multiple choice item has a stem which asks a question, describes data or presents a situation. The way
      the item is framed and the type of response required determines whether the item is Recall, Interpretation, or Problem Solving.</p>
  </div>

  <hr class="featurette-divider">

  <!-- Second Featurette -->
  <div class="featurette" id="services">
    <img class="featurette-image img-circle img-responsive pull-left" src="../vendors/images/home-2.jpg">
    <h2 class="featurette-heading">Analysis of your quizzes,
      <span class="text-muted">will put you forward in the game.</span>
    </h2>
    <p class="lead font-change">Once the quiz is done ,you can check your result on result page.Beside this you can see your overall performance of different quizzes you have taken by checking your analysis page.This will help you in analysing where
      you are weak .</p>
  </div>

  <hr class="featurette-divider">

  <!-- Third Featurette -->
  <div class="featurette" id="contact">
    <img class="featurette-image img-circle img-responsive pull-right" src="../vendors/images/home-3.jpg">
    <h2 class="featurette-heading">The Last Option
      <span class="text-muted">our customers and QuizHub stand by!</span>
    </h2>
    <p class="lead font-change">Take as many quizzes as you can and make Accuracy and knowlege as your tool.
      Make success as your first and last option.
    </p>
  </div>

  <hr class="featurette-divider">

</div>
