<div class="container">
  <div class="row">
    <div class="center-form panel">
      <div class="panel-body">
        <h2 class="text-center">Reset Password</h2>
        <form name="ResetPasswordForm">
          <div class="form-group has-feedback">
            <input class="form-control input-lg" type="password" name="password" ng-model="password" placeholder="New Password" required autofocus>
            <span class="ion-at form-control-feedback"></span>
          </div>

          <button type="submit" ng-click="resetPass()" class="btn btn-lg  btn-block btn-success">Submit</button>
          <br />
          <hr>
        </form>
      </div>
    </div>
  </div>
</div>
