<div class="container">
  <div class="jumbotron instruction-page-styling" ng-show="instructionPage">
    <h3 class="text-center"><u>{{testData.title}}</u></h3>
    <div class="instructions-styling">
      <h3>Instructions</h3>

      <ul>
        <li ng-repeat="instruction in testData.testDescription">{{instruction}}</li>
      </ul>
    </div>
    <button type="button" class="btn btn-danger" ng-click="displayQuestions();startTimerFn()">Accept & Go ahead</button>
  </div>
</div>

<div class="container">
  <div class="jumbotron question-styling" ng-show="questionsSection" ng-init="questionNo=1">
    <p class="pull-right">Time:{{timecheck}}</p>
    <div>
      <h3>Question {{questionNo}}- {{singleQuestionData.question}}</h3>
      <div ng-repeat="option in singleQuestionData.options track by $index">
        <input type="radio" ng-model="choiceCheck.setValue" value="{{$index}}" name="whatever" /> {{option}}
      </div>
    </div>
    <br>

    <button type="button" name="button" ng-click="timerForEachAnswer(singleQuestionData._id);
    pop(singleQuestionData._id)" ng-show="questionsSection!=totalQuestions" class="btn btn-success pull-left">Next</button>

    <a href="#!/result/{{userId}}/{{testId}}"><button type="button" name="button" ng-show="questionsSection" class="btn btn-danger pull-right" ng-click="timerForEachAnswer(singleQuestionData._id);stopTimerFromClient()">Submit</button>
    </a>
  </div>
</div>
