<nav ng-controller="indexCtrl" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" class="active" href="#!admin/dashboard">QuizHub</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="admin/dashboard">Create
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#!createTest">Create Test</a></li>
            <li><a href="#!createQuestion">Create Question</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="admin/dashboard">View
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#!viewAllTests">View Tests</a></li>
            <li><a href="#!viewAllQuestions/all">View Questions</a></li>
          </ul>
        </li>
        <li>
          <a href="#!viewUsers">Users Detail</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container result-display-styling">
  <div ng-repeat="x in numberOfUsers" class="list-group">
    <li class="list-group-item clearfix">{{x.username}}
      <a href="#!overAllUserPerformanceForAdmin/{{x._id}}">
        <button type="button" class="btn btn-danger pull-right"> View performance</button>
      </a>
    </li>
  </div>
</div>
